{% extends "AppGastosBlogBundle::base-blog.html.twig" %}

{% block title "Editar un tipo de gasto" %}


    {% block content %}
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-blue" style="background:#fff;">
                                <div class="panel-heading">Editar la categoría</div>
                                <div class="panel-body pan">
                                    {{ form_start(form) }}
                                        <div class="form-body pal">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">                                                        
                                                        {{ form_errors(form.titulo) }}
                                                        {{ form_label(form.titulo) }}                                                                                                                    
                                                        {{ form_widget(form.titulo) }}                                                        
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        {{ form_errors(form.posicion) }}
                                                        {{ form_label(form.posicion) }}                                                                                                                    
                                                        {{ form_widget(form.posicion) }}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        {{ form_errors(form.descripcion) }}
                                                        {{ form_label(form.descripcion) }}                                                                                                                    
                                                        {{ form_widget(form.descripcion) }}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="form-actions text-right pal">
                                            {{ form_widget(form.save) }}
                                        </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}





